body {
  Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-color: white;
}

.welcome {
  align-items: center;
  border-radius: 15px;
  color:rgb(218, 129, 175);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 27%;
  padding: 3rem;
  width: 40%;
}

.section-main {
  background-color: 248, 225, 237;
  box-shadow: 0px 0px 20px 5px rgb(223, 169, 197);
  border-radius: 15px;
}

.projects-main {
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  color:rgb(218, 129, 175);
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: 90%;
}

.section-about {
  background-color: 248, 225, 237;
  box-shadow: 0px 0px 20px 5px rgb(223, 169, 197);
  border-radius: 15px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

/* link que foi visitado */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* mouse over */
a:hover {
  color: rgb(218, 17, 120);
}
