body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
}

.welcome {
  border-radius: 15px;
  color:rgb(218, 129, 175);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  padding: 3rem;
  width: 30rem;
}

.section-main {
  background-color: 248, 225, 237;
  box-shadow: 0px 0px 20px 10px rgb(223, 169, 197);
  border-radius: 15px;
}

.section-about {
  background-color: 248, 225, 237;
  box-shadow: 0px 0px 20px 10px rgb(223, 169, 197);
  border-radius: 15px;
}

/* link que foi visitado */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* mouse over */
a:hover {
  color: rgb(218, 17, 120);
}

.nav-contact {
  display: flex;
  background-color: 248, 225, 237;
  box-shadow: 0px 0px 20px 10px rgb(223, 169, 197);
  border-radius: 15px;
  color:rgb(218, 129, 175);
  flex-direction: column;
  align-items: center;
  margin: 5%;
  padding: 3rem;
  width: 30rem;
}

.nav-contact a {
  padding: 3rem;
}