.main-header {
  color:thistle;
  background-color: white;
  box-shadow: 0px 0px 20px 10px rgb(224, 180, 203);
  display: flex;
  justify-content: space-around;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.name-header {
  align-self: center;
}

.nav-bar-header {
  align-self: center;
  display: flex;
  justify-content: space-between;

}

.item-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}