.main-header {
  color:rgb(218, 129, 175);
  background-color: white;
  box-shadow: 0px 0px 20px 10px rgb(224, 180, 203);
  display: flex;
  justify-content: space-around;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.name-header {
  align-self: center;
}

.nav-bar-header {
  align-self: center;
  display: flex;
  justify-content: space-between;

}

.item-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* link que foi visitado */
.nav-bar-header a:visited {
   text-decoration: none;
   color: inherit;
}

/* mouse over */
.nav-bar-header a:hover {
   color: rgb(218, 17, 120);
}

